-
  locals.menuItems = [
    {
      name: 'About us',
      href: '/mock-address/change-me'
    }, {
      name: 'profile',
      href: '/profile.html'
    }, {
      name: 'news & events',
      href: '/activity.html'
    }, {
      name: 'messages',
      href: '/messages.html'
    }
  ]
  locals.guestMneuItems = [
    {
      name: 'Войти',
      href: '/signin.html'
    }, {
      name: 'Зарегистрироваться',
      href: '/signup.html'
    }
  ]